.register-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 15px rgba(173, 201, 176, 0.8);
    border-radius: 12px;
    max-width: 50rem;
    height: auto;
}

.register-content {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 3.2rem auto;
}

.register-header {
    color: #fff;
    text-align: center;
    margin:  2rem 1rem;
    font-size: 2.8rem;
  }

.input-forms
{
    display: flex;
    flex-direction: column;
}

.input-forms input {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    outline: none;
    margin-bottom: 16px;
  }

.input-forms button {
    width: 100%;
    padding: 12px;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 1px;
    border: none;
    border-radius: 6px;
    background-color: #adc97e;
    color: white;
    cursor: pointer;
}

.register-button {
    width: 100%;
    padding: 12px;
    margin-top: 26px;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #ebebf0;
    color: #000;
}

.divider {
    display: flex;
    color: #fff;
    align-items: center;
    text-align: center;
    margin: 2rem;
}
.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: #ddd;
}
.divider::before { margin-right: 12px; }
.divider::after  { margin-left: 12px; }

.social {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-btn {
    border: 1px solid #ccc;
    background-color: #ebebf0;
    color: #000;
}

.login-tag
{
    display: block;
    color: #fff;
    text-align: center;
    font-size: 1.6rem;
    margin-top: 3rem;
}

.login-link
{
    color: #adc97e;
    font-size: 1.6rem;
}
